<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.driedmango.geukvoc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HWEngVoc">
        <activity android:name="com.driedmango.geukvoc.vocquiz.SpellQuizActivity"/>
        <activity android:name="com.driedmango.geukvoc.vocquiz.WordQuizActivity" />
        <activity android:name="com.driedmango.geukvoc.vocquiz.MeanQuizActivity" />
        <activity android:name="com.driedmango.geukvoc.myengvoc.MyDicActivity" />
        <activity
            android:name="com.driedmango.geukvoc.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>